/* General */
.piece {background-image:url(../images/monks.jpg); float: left; position: absolute; transition: 0.3s; border: 1px solid white;}
.piece span {float: right; margin-right: 10px; margin-top: 10px; color: white; font-weight: bold; background: #445; padding: 4px; font-family: arial; font-size: 10px;}
.donePuzzle{pointer-events: none; opacity: 0.4;}